[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-sqlalchemy = "*"
configparser = "*"
mysqlclient = "*"
psutil = "*"
redis = "*"
netifaces = "*"
flasgger = "*"
pytest = "*"
webtest = "*"
factory-boy = "*"
raven = "*"
blinker = "*"


[dev-packages]



[requires]

python_version = "3.6"
