#app{
    .main-container{
        margin-left: $sideBarWidth;
        position: relative;
        transition: margin-left $sideBarDuration;
    }

    .sidebar-container{
        width: $sideBarWidth;
        height:100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        transition: width $sideBarDuration;
        .el-scrollbar__view{
            width: 211px;
        }
    }

    .fix-header{
        position: fixed;
        top: 0;
        right: 0;
        width: calc(100% - #{$sideBarWidth});
        z-index: 999;
        background: #ffffff;
    }
}
